<ion-header>
  <ion-toolbar>
    <ion-title>carro-lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let carro of listaCarro | async ">
      <ion-label>{{carro.marca}}</ion-label>
      <ion-label>{{carro.modelo}}</ion-label>
      <ion-label>{{carro.placa}}</ion-label>
      <ion-label>{{carro.cor}}</ion-label>
      <ion-label>{{carro.Combustivel}}</ion-label>
      <ion-button color='dark'(click)="alterar(carro)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="dark"href="" (click)="excluir(carro.key)"><ion-icon name="trash"></ion-icon></ion-button>

    </ion-item>
  </ion-list>
  <ion-button expand='full' color="dark"href="tela">Voltar<ion-icon name="home"></ion-icon></ion-button>



</ion-content>
