<ion-header>

  <ion-toolbar>

    <ion-title> Cadastro de Moto </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card color="light">

  <ion-card-header>

    <ion-img src="https://assets-global.website-files.com/5cbf5edbbaebd360d9387caa/5cf8ec13994fb752370d1bfe_consorcio_moto_03_B7xUm.jpg"> </ion-img>

    </ion-card-header>

    <ion-card-content>



      <ion-button color="dark" href=""> Confirmar Cadastro<ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
      <ion-button color="dark" href="tela"> Cancelar <ion-icon name="close-circle-outline"></ion-icon></ion-button>

      </ion-card-content>
      </ion-card>

</ion-content>
